@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to your friendly corporate software control catalog.</p>
    <a asp-page="/catalog/index" class="btn btn-primary btn-lg">Go To The Software Catalog</a>
</div>
